:root {
    --primary: #fafafa;
    --secondary: rgb(0, 149, 255);
    --accent: #db5461

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--background);
}

#sort-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 10px 0;
    justify-content: center;
}

.segment {
    border-radius: 5px;
}

.idle {
    background-color: rgba(0, 148, 253, .30);
}

.comparing {
    background-color: rgba(226, 51, 51, .50);
}

.sorted {
    background-color: rgba(9, 134, 9, .5);
}

  